body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

.c-yellow-dark { background-color: rgb(231, 230, 147); }
.c-yellow-bright { background-color: rgb(240, 239, 174); }
.c-pink-light { background-color: #f6dcea; }
.c-pink-dark { background-color: #dfc1d1; }
.c-white { background-color: rgb(255, 255, 255); }

.grid-background {
  background: linear-gradient(to bottom right, #c6e8e7, #59c7d2);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.grid-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #fff 1px, transparent 1px), linear-gradient(to bottom, #fff 1px, transparent 1px);
  background-size: 30px 30px;
  pointer-events: none;
  z-index: -1;
}

.bg-img {
  background-image: url('../img/stars.png') !important;
  background-position: center !important;
  background-repeat: repeat-y !important;
  background-size: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}

.window {
  border: 2px solid black;
  width: 100%;
  max-width: 700px;
  background-color: transparent;
  margin: 35px auto 0;
  padding: 0;
  display: block;
  position: relative;
  z-index: 1;
}

.window-header {
  background-color: #f6dcea;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 3px 10px;
  border-radius: 5px 5px 0 0;
}

.window-buttons {
  display: flex;
  gap: 5px;
}

.button {
  width: 5px;
  height: 5px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-body {
  border-top: 2px solid black;
  margin: 0;
  padding: 10px;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px 0 0;
  z-index: 1;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

.left-box {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.window-2 {
  border: 2px solid black;
  width: 100%;
  max-width: 700px;
  background-color: white;
  box-shadow: 10px 15px black;
  margin: 0 auto;
  padding: 0;
  display: block;
  position: relative;
  z-index: 1;
}

.window-header-2 {
  background-color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 3px 10px;
}

.window-body-2 {
  background-color: pink;
  border: 2px solid black;
  margin: 0 10px 10px;
  padding: 5px;
  color: black;
}

/* Mobile view adjustments */
@media only screen and (max-width: 768px) {
  .grid-background::before {
    background-size: 15px 15px;
  }

  .bg-img {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .window {
    font-size: 14px;
    border: 1px solid black;
    width: 90%;
    margin-top: 35px;
  }

  .window-buttons {
    gap: 3px;
  }

  .button {
    border: 1px solid black;
  }

  .window-body {
    border-top: 1px solid black;
    padding: 7px;
  }

  .container {
    display: block;
    margin: 10px;
  }

  .row {
    display: block;
    margin: 0 auto;
    max-width: 500px;
  }

  .left-box {
    display: block;
  }

  .window-2 {
    box-shadow: 7px 7px black;
    margin: 0 auto;
    padding: 0;
  }

  .window-body-2 {
    border: 1px solid black;
    margin: 2px 5px 5px;
    padding: 0;
  }
}
