body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

a{
  color: black;
  text-decoration: none;
}

.c-yellow-dark { background-color: rgb(231, 230, 147); }
.c-yellow-bright { background-color: rgb(240, 239, 174); }
.c-pink-light { background-color: #f6dcea; }
.c-pink-dark { background-color: #dfc1d1; }
.c-white { background-color: rgb(255, 255, 255); }

.grid-background {
  background: linear-gradient(to bottom right, #c6e8e7, #59c7d2);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.grid-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #fff 1px, transparent 1px), linear-gradient(to bottom, #fff 1px, transparent 1px);
  background-size: 30px 30px;
  pointer-events: none;
  z-index: -1;
}

.bg-img {
  background-image: url('../img/stars.png') !important;
  background-position: center !important;
  background-repeat: repeat-y !important;
  background-size: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}

.window {
  border: 2px solid black;
  width: 100%;
  max-width: 700px;
  background-color: transparent;
  margin: 35px auto 0;
  padding: 0;
  display: block;
  position: relative;
  z-index: 1;
}

.window-header {
  background-color: #f6dcea;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 3px 10px;
  border-radius: 5px 5px 0 0;
}

.window-buttons {
  display: flex;
  gap: 5px;
}

.button {
  width: 5px;
  height: 5px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-body {
  border-top: 2px solid black;
  margin: 0;
  padding: 2px 10px 10px 10px;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -20px 0 0 0;
  z-index: 1;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

.left-box {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.window-2 {
  border: 2px solid black;
  width: 100%;
  max-width: 700px;
  background-color: white;
  box-shadow: 10px 10px black;
  margin: 0 auto;
  padding: 0;
  display: block;
  position: relative;
  z-index: 1;
}

.window-header-2 {
  background-color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 3px 10px;
}

.window-body-2 {
  background-color: pink;
  border: 2px solid black;
  margin: 0 10px 10px;
  padding: 5px;
  color: black;
}

.window-3 {
  background-color:  rgb(255, 255, 187); 
  border: 2px solid black;
  width: 100%;
  max-width: 700px;
  box-shadow: 10px 15px black;
  margin: -13px auto 0px 0px;
  padding: 0;
  display: block;
  position: relative;
  z-index: 1;
}

.window-3:nth-child(2) {
  margin: -15px auto 0px -40px;
}

.window-3:nth-child(3) {
  margin: -13px auto 0px -25px;
}

.window-header-3 {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 4px 10px;
}

.window-body-3 {
  background-color:  rgb(255, 255, 187); 
  margin: 0px 10px 10px 10px;
  color: black;
}

.action{
  background-color: rgb(224, 224, 93);
  padding: 10px 30px;
}

.trans-data{
  margin: 10px 10%;
  font-size: 14px;
}

.trans-data tr td{
  width: 20%;
}

.desc-small{
  margin: 10px 10%;
  font-size: 12px;
}

.load-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.loading-bar {
  width: 80%;
  height: 20px;
  background-color:rgb(224, 224, 93);
  border-radius: 13px;
  overflow: hidden;
  padding: 3px;
  border: 2px solid black;
  
}

.progress {
  text-align: center;
  font-size: 15px;
  height: 100%;
  background-color: white;
  border-radius: 13px;
}

.p30{
  width: 30%;
}

.p60{
  width: 60%;
}


.p80{
  width: 80%;
}

.window-4 {
  border: 2px solid white;
  width: 100%;
  max-width: 700px;
  background-color: rgb(29, 29, 29);
  margin: 20px auto;
  padding: 0px;
  display: block;
  position: relative;
  z-index: 1;
}

.window-header-4 {
  background-color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 3px 10px;
  border-bottom: 2px solid white;
}

.window-body-4 {
  display: flex;
  margin: 0px;
  padding: 0px;
  color: white;
  max-height: 1000px; /* You can adjust the height */
  font-family: 'Courier New', monospace;
  overflow: hidden;
}

.code-lines {
  font-size: 15px;
  background-color: rgb(46, 46, 46);
  flex-shrink: 0;
  padding: 3px;
  border-right: 1px solid #ddd;
  text-align: right;
  overflow-y: auto;
}

.line {
  padding: 0 5px;
  line-height: 1.35;
}

.code-content {
  font-size: 15px;
  flex-grow: 1;
  overflow: auto;
  padding: 3px;
  margin: 0px;
  line-height: 1.35;
}

ul {
  line-height: 1.35;
  margin: 0 0 0 10px;
  padding: 0;
}

ul li {
  line-height: 1.35;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.window-5 {
  background-color: #59c7d2;
  border: 2px solid black;
  box-shadow: 7px 7px black;
  width: 100%;
  background-color: white;
  margin: -50px auto 10px -30px;
  padding: 0;
  display: block;
  position: relative;
  z-index: 1;
}

.window-header-5 {
  background-color: #59c7d2;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 3px 10px;
}

.window-body-5 {
  margin: 0 10px 10px;
  padding: 5px;
  color: black;
}

.folders {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align folders to the left */
  gap: 20px; /* Adjust gap as needed */
}

.folder {
  width: calc(25% - 20px); /* Four folders per line, adjust for gap */
  text-align: center;
  margin-bottom: 0px;
  display: inline-block;
}

.folder i {
  font-size: 48px; /* Adjust the size of the icon as needed */
  display: block;
  margin: 0 auto 10px auto; /* Center the icon */
}

.folder-desc {
  margin-top: 7px;
  font-size: 12px;
}

.window-6 {
  font-size: 15px;
  background-color: white;
  border: 2px solid black;
  width: 100%;
  margin: -190px auto 20px -50px;
  padding: 0;
  display: block;
  position: relative;
  z-index: 1;
}

.window-header-6 {
  background-color: #876de7;
  border-bottom: 2px solid black;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 3px 10px;
}

.window-body-6 {
  border: 2px solid black;
  margin: 10px 10px 10px;
  padding: 5px;
  color: black;
  background-color: #b8a7f7;
}















/* Mobile view adjustments */
@media only screen and (max-width: 768px) {
  .grid-background::before {
    background-size: 15px 15px;
  }

  .bg-img {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .window {
    font-size: 14px;
    border: 1px solid black;
    width: 90%;
    margin-top: 35px;
  }

  .window-buttons {
    gap: 3px;
  }

  .button {
    border: 1px solid black;
  }

  .window-body {
    border-top: 1px solid black;
    padding: 7px;
  }

  .container {
    display: block;
    margin: 10px;
    
  }

  .row {
    display: block;
    margin: 0 auto;
    max-width: 500px;
  }

  .left-box {
    display: block;
  }

  .window-2 {
    font-size: 14px;
    box-shadow: 7px 7px black;
    margin: 0 auto;
    padding: 0;
  }

  .window-body-2 {
    border: 1px solid black;
    margin: 2px 5px 5px;
    padding: 0;
  }


  .window-3 {
    margin: 15px auto 10px auto;
    box-shadow: 7px 7px black;
  }
  
  .window-3:nth-child(2) {
    margin: 15px auto 10px auto;
    box-shadow: 7px 7px black;
  }
  
  .window-3:nth-child(3) {
    margin: 15px auto 10px auto;
    box-shadow: 7px 7px black;
  }

  .window-5 {
    margin: 10px auto 10px auto;
  }

  .window-6 {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    margin: 2px auto 20px auto;
  }
}
